<%= form_for(word) do |f| %>
  <% if word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-10 col-md-offset-1">
    <div class="field form-group">
      <%= f.label :term %>
      <%= f.text_field :term, :class => "form-control" %>
    </div><br>
    <div id="meanings">
      <%= f.fields_for :meanings do |meaning| %>
        <%= render 'meaning_fields', f: meaning %>
      <% end -%>
      <div class="links">
        <%= link_to_add_association 'Add meaning', f, :meanings, class: "btn btn-raised btn-info"%><br><br>
      </div>
    </div>
    <div id="examples">
      <%= f.fields_for :examples do |example| %>
        <%= render 'example_fields', f: example %>
      <% end -%>
      <div class="links">
        <%= link_to_add_association 'Add example', f, :examples, class: "btn btn-raised btn-success"%><br><br>
      </div>
    </div>
    <div class="actions">
      <%= f.submit class: "btn btn-raised btn-primary" %>
    </div><br>
    <%= link_to 'Back', words_path %>
  </div>
<% end %>
