<div class="container-fluid">
  <div class="col-md-10 col-md-offset-1">
    <legend class="text-center">English Words</legend>
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>Word</th>
            <th>Meanings</th>
            <th>Examples</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @words.each do |word| %>
            <tr>
              <td><%= word.term %></td>
              <td><%= word.meanings.collect(&:definition).join(",").gsub(".","") %></td>
              <td><%= word.examples.collect(&:sentence).join(",") %></td>
              <td><%= link_to 'Edit', edit_word_path(word) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
    </div>
    <%= link_to 'New Word', new_word_path %>
  </div>
</div>