<div class="container-fluid">
  <div class="col-md-10 col-md-offset-1">
    <% @words.each do |word| %>
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-md" id="well-<%=word.id%>">
          <button type="button" class="close" data-target="#well-<%=word.id%>" data-dismiss="alert" aria-hidden="true">×</button>
          <div style="text-align: right;">
            <%= link_to edit_word_path(word) do %>
              <i class="material-icons">mode_edit</i> 
            <% end %>
          </div>
          <p class="word"><%= word.term.capitalize %> :</p>
          <p>
            <% word.meanings.each do |meaning| %>
              <ul>
                <li class="meanings"><%= meaning.definition.gsub(".","") %></li>
              </ul>
            <% end -%>
          </p>
          <% if word.examples.present? %>
            <p class="example-title">
              Examples :
            </p>
            <p>
              <% word.examples.each do |eg| %>
                <ul>
                  <li class="examples"><%= eg.sentence %></li>
                </ul>
              <% end -%>
            </p>
          <% end -%>
          
        </div>
      </div>  
    <% end %><br>
  </div>
</div>
