<!DOCTYPE html>
<html>
  <head>
    <title>Dictionary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar navbar-warning">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Dictionary",words_path, class: "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse navbar-warning-collapse">
          <ul class="nav navbar-nav">
          </ul>
          <form class="navbar-form navbar-left">
            <%= form_tag words_path, :method => 'get' do %>
              <%= text_field_tag :search, params[:search],class: "form-control transparent-input" %>
              <%= submit_tag "Search",class: "btn btn-raised btn-info" %>
            <% end %>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
                <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "New Word",new_word_path %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
