<!DOCTYPE html>
<html>
  <head>
    <title>Dictionary</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Sniglet" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cherry+Cream+Soda"/>  
    <link rel='stylesheet' type='text/css' href="//fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext"/>
  </head>

  <body>
    <div class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Dictionary",words_path, class: "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
          <form class="navbar-form navbar-left">
            <%= form_tag('/words', method: :post) do %>
              <%= text_field_tag :search, params[:search],class: "form-control transparent-input" %>
              <%= submit_tag "Search",class: "btn btn-raised btn-primary search" %>
            <% end %>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Alphabetical Order",alphabetical_order_words_path %></li>
            <li><%= link_to "New Word",new_word_path %></li>
          </ul>
        </div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
